@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<body>
    <div b-6eg8tbgho9="" class="container">
        <div b-6eg8tbgho9="" style="text-align: center;">
            <div b-6eg8tbgho9="" class="display-6"><strong b-6eg8tbgho9="">Deck Master</strong></div>
        </div>
        <hr b-6eg8tbgho9="">
        <main b-6eg8tbgho9="" role="main" class="pb-3">

            <div style="text-align:center">
                <div style="text-align: center;">
                Welcome to Deck Master!
                We specialize in providing high-quality decks of cards for all your gaming and card collecting needs. Our online store offers a wide variety of decks, from standard playing cards to collectible and limited-edition decks.
                Our decks are made with durable materials and feature stunning designs, making them perfect for both casual and serious players. We also offer custom deck printing services to help you create your own personalized deck.
                Thank you for choosing Deck Master for all your card needs. Shop now and discover the perfect deck for you!

                </div>
                </div>
            </div>
            <hr>


        </main>
    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>



</body>
</html>
